
.marked-body h2 {
    display: inline-block;
    /*background: rgb(239, 112, 96);*/
    color: #fff;
    font-size: 24px;
    padding: 3px 10px 1px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    margin-right: 3px;
    background:linear-gradient(to right,rgba(239, 112, 96,1),rgba(239, 112, 96,.5));
    border-bottom: 2px solid rgb(239, 112, 96);
    width: 100%;
}

.marked-body h3 {
    padding-bottom: 0;
    text-indent: 3px;
    border-bottom: 2px solid rgb(166 188 206);
    color: #fff;
    background: #4797bb;
    border-radius: 4px;
}

.tit-h4 {
    display: inline-block;
    background: rgb(239, 112, 96);
    color: #fff;
    padding: 3px 10px 1px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    margin-right: 3px;
}

