
.tit-h2 {
    display: inline-block;
    background: rgb(239, 112, 96);
    color: #fff;
    font-size: 24px;
    padding: 3px 10px 1px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    margin-right: 3px;
}

.marked-body h2 {
    padding-bottom: 0;
    font-size: 1.5em;
    text-indent: -3px;
    border-bottom: 2px solid rgb(239, 112, 96);
}

.marked-body h3 {
    padding-bottom: 0;
    text-indent: 3px;
    border-bottom: 2px solid rgb(166 188 206);
    color: #fff;
    background: #4797bb;
    border-radius: 4px;
}

.tit-h3 {
    display: inline-block;
    background: rgb(239, 112, 96);
    color: #fff;
    padding: 3px 10px 1px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    margin-right: 3px;
}

.tit-h4 {
    display: inline-block;
    background: rgb(239, 112, 96);
    color: #fff;
    padding: 3px 10px 1px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    margin-right: 3px;
}

